<template>
    <div class="overlay">
        <div class="popup" v-bind:class="{ good: isGoodAnswer }">
          <span class="mark" v-bind:class="{ good: isGoodAnswer }">
            <span v-if="isGoodAnswer">✅</span>
            <span v-else>✕</span>
          </span>
          <div class="content">
            <h2>{{ isGoodAnswer ? "Bravo !" : "Dommage !" }}</h2>

            <div class="content">
                <strong>Bonne réponse</strong> : {{ correctAnswer }} <br />
                <strong>Explication </strong>: {{ explication }}
                <br/>
                <button class="next close" @click="$emit('next')">
                  {{ endOfQuizz ? "Voir les résultats" : "Question suivante" }}
                </button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    isGoodAnswer: Boolean,
    welcomeMsgModal: String,
    correctAnswer: String,
    explication: String,
    endOfQuizz: Boolean
  }
}
</script>
<style scoped>
@import './../assets/css/quizz.css';
@import './../assets/css/normalize.css';
@import './../assets/css/skeleton.css';
</style>
