<template>
    <div class="overlay">
        <div class="popup question">
            <div class="content">
                <p><strong> Voulez-vous quitter la partie ? </strong></p>
                <button class="button button-primary" @click="$emit('quitLeavePopup')">Jamais ! </button>
                <router-link to="/"><button class="button"> Oui... </button></router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: {
  }
}
</script>
<style scoped>
@import './../assets/css/modal.css';
@import './../assets/css/quizz.css';
@import './../assets/css/normalize.css';
@import './../assets/css/skeleton.css';
</style>
