<template>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>

</template>

<script>

export default {
  name: 'Loader',
  components: {
  }
}
</script>

<style scoped>

.loader {
  height: 0px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #07dfd7;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #047b77;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #aa5708;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #db6f0a;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #f58924;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #f79f4f;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
</style>
