<template>
<!-- https://baianat.github.io/hooper/getting-started.html#configuring-carousel -->
  <hooper
      :wheelControl="false">
    <slide>
      <img src="@/assets/img/slider/1.jpeg"/>
    </slide>
    <slide>
      <img src="@/assets/img/slider/2.jpeg"/>
    </slide>
    ...
  </hooper>
</template>

<script>
import { Hooper, Slide } from 'hooper'
import 'hooper/dist/hooper.css'

export default {
  name: 'Slider',
  components: {
    Hooper,
    Slide
  }
}
</script>

<style scoped>
@import './../assets/css/slider.css';
@import './../assets/css/normalize.css';
@import './../assets/css/skeleton.css';
</style>
