<template>
    <div class="overlay">
        <div class="popup question">
          <span class="mark question"> ? </span>
          <div class="content">
            <p> Le joueur <strong>{{ host }}</strong> souhaite vous défier.<br />
             Acceptez-vous ?</p>
                <button class="button button-primary" @click="$emit('joinParty')"> Commencer </button>

<!-- EVENT MODAL CLOSE -->
            <button class="button"> Refuser </button>
          </div>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    host: String
  }
}
</script>
<style scoped>
@import './../assets/css/modal.css';
@import './../assets/css/quizz.css';
@import './../assets/css/normalize.css';
@import './../assets/css/skeleton.css';
</style>
