<template>
    <div class="overlay">
        <div class="popup question">
          <span class="mark question"> ? </span>
          <div class="content">
            <p> <strong> En attente du joueur {{ guest }}</strong></p>
          </div>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    guest: String
  }
}
</script>
<style scoped>
@import './../assets/css/modal.css';
@import './../assets/css/quizz.css';
@import './../assets/css/normalize.css';
@import './../assets/css/skeleton.css';
</style>
