<template>
  <!-- Title
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="theme">
  <div class="container">
    <div class="row small space">
      <div class="four columns hidden">hidden</div>
      <div class="four columns">  <h1 class="center small space"><span class="einstein">Einstein</span><br>
        <span class="bigger">BATTLE</span> </h1></div>
      <div class="four columns">   <img id="atom" src="../assets/img/atom.png" alt="atom"></div>
    </div>

    <Slider/>
    <div class="cta">
      <router-link to="/game"><button class="button button-primary cta"><img src="@/assets/img/einstein_home.png"> Jouer maintenant !</button></router-link>
    </div>
  </div>

</div>

</template>

<script>
import Slider from '../components/Slider.vue'

export default {
  name: 'home',
  data: function () {
    return {
    }
  },
  components: {
    Slider
  },
  methods: {
  }
}
</script>

<style scoped>
@import './../assets/css/home.css';
@import './../assets/css/normalize.css';
@import './../assets/css/skeleton.css';
</style>
