<template>
  <div v-if="quiz" class="quizz">

        <div class="six columns nav arrow">
          <img height="30" src="@/assets/img/left.svg" @click="showLeavePopup">
          <LeaveModal
          v-if="displayLeaveModal"
          @quitLeavePopup="quitLeavePopup"
          />
        </div>
        <p class="einstein subject">{{ quiz.label }}</p>

    <!-- index is used to check with current question index -->
    <div class="quizzcontent" v-for="(question, index) in currentQuestions" :key="index">

        <!-- Hide all questions, show only the one with index === to current question index -->
        <div v-show="index === questionIndex">

            <div class="stat">
                <!-- <p>{{ questionIndex +1}} / {{ currentQuestions.length }} </p> -->
                Question {{ questionIndex +1}}

                <h2>{{ question.statement }}</h2>
                <div class="answer list">
                    <ol>
                        <li v-for="(answer, index2) in question.answer_list" :key="index2">

                            <label>
                                <input type="radio" :value="answer.correct" :name="index" v-model="userResponses[index]">
                                <!-- <input type="radio" checked> -->
                                <div class="answer">
                                    {{answer.response}}
                                </div>
                            </label>
                        </li>
                    </ol>
                </div>

                <div class="pagination">
                    <a class="button" v-if="userResponses[index] === null"> VALIDER </a>
                    <!-- <a class="button button-primary" href="#popup1" v-if="userResponses[index] !== null"> VALIDER </a> -->
                  <button
                    class="button button-primary"
                    @click="showPopup"
                    v-if="userResponses[index] !== null"
                  >
                    VALIDER
                  </button>

                </div>

            </div>
        </div>
    </div>
    <div v-show="questionIndex === currentQuestions.length">
        <h2>
          Quiz finished
        </h2>
        <p>
            Total score:
            <br/> Correct : {{ score }} / {{ currentQuestions.length }}
        </p>
    </div>

    <!-- TEMPLATE -->
    <AnswerModal
      v-if="displayAnswerModal"
      :isGoodAnswer="userResponses[questionIndex]"
      :correctAnswer="showCorrectAnswer()"
      :explication="showExplication()"
      :isEndOfQuizz="questionIndex === userResponses.length -1"
      @next="next"
    />

  </div>

</template>

<script>
import axios from 'axios'
// import quizz from '../store/quiz'
import AnswerModal from '../components/AnswerModal.vue'
import LeaveModal from '../components/LeaveModal.vue'

import io from 'socket.io-client'

export default {
  name: 'quizz',
  data: function () {
    return {
      quiz: null,
      currentQuestions: [], // is like quiz.question_list
      questionIndex: 0,
      userResponses: [],
      results: null,
      displayAnswerModal: false,
      displayLeaveModal: false,
      socket: io('localhost:3000')
    }
  },
  computed: {
    // Return "true" count in userResponses
    score () {
      return this.userResponses.filter(val => val).length
    }
  },
  components: {
    AnswerModal,
    LeaveModal
  },
  methods: {

    getRandomQuestions: function () {
      let result = []
      // If there isn't 5 questions and we can have 5 differents questions
      while (result.length < 5 && result.length !== this.quiz.question_list.length) {
        // generate question index for random quizz
        let array = Array.from({ length: 5 }, () => Math.floor(Math.random() * this.quiz.question_list.length))
        // Unique index
        result = Array.from(new Set(array.map(s => s)))
      }

      // Return array with question object
      return result.map(o => this.quiz.question_list[o])
    },

    // Show good answer then explanation
    showCorrectAnswer: function () {
      const currentQuestion = this.currentQuestions[this.questionIndex].answer_list
      return currentQuestion.find((o) => o.correct).response
    },
    showExplication: function () {
      return `${this.currentQuestions[this.questionIndex].explication}`
    },
    // Go to next question.
    next: function () {
      this.displayAnswerModal = false
      this.questionIndex++
    },
    async fetchData () {
      const response = await axios.get('http://127.0.0.1:8000/api/thematic/')
      return response
    },
    // getData: () => {
    //   return new Promise((resolve, reject) => {
    //     resolve(quizz)
    //   })
    // },
    showPopup () {
      this.displayAnswerModal = true
    },
    showLeavePopup () {
      this.displayLeaveModal = true
    },
    quitLeavePopup () {
      this.displayLeaveModal = false
    }
  },
  mounted () {
    /* this.getData().then(o => (this.quiz = o))
      // .then(o => console.log(o.question_list.length))
      .then(o => (this.userResponses = Array(o.question_list.length).fill(null))) */

    this.fetchData()
      .then(res => {
        this.quiz = res.data.results[0]
        this.userResponses = Array(this.quiz.question_list.length).fill(null)
        this.currentQuestions = this.getRandomQuestions()
        this.socket.emit('listQuestions', this.currentQuestions)
        this.socket.on('receiveQuest', (listQuestions) => {
          if (this.currentQuestions !== listQuestions) {
            this.currentQuestions = listQuestions
          }
        })
      })
  }

}

</script>

<style scoped>
@import './../assets/css/modal.css';
@import './../assets/css/quizz.css';
@import './../assets/css/normalize.css';
@import './../assets/css/skeleton.css';
</style>
