<template>
  <div>
    <!-- NAV -->
    <div class="nav arrow">
      <router-link to="/"><img height="30" src="@/assets/img/left.svg"></router-link>
    </div>
    <!-- ADDUSER -->
    <EinsteinHead />
    <div id="addUser" v-if="displayUserForm">
      <form @submit.prevent="addPseudo">
        <!-- <label>Renseignez votre pseudo pour jouer : </label> -->
        <!-- <input autocomplete="off" placeholder="Mon pseudo" v-model="currentUser"/> <br /> -->
        <div class="group">
          <input type="text" required autocomplete="off" v-model="currentUser"/>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="einstein">Mon pseudo</label>
        </div>
        <button class="button-primary" v-if="currentUser.length >= 3">Jouer !</button>

      </form>
      <button class="button" v-if="currentUser.length < 3">Jouer !</button>
    </div>
    <!-- CHOOSE OPPONNENT -->
    <div id="chooseOpponent" class="container" v-if="displayOpponentList">
      <h3>Bienvenue {{ currentUser }} !</h3>

      <p v-if="presentUsers.length < 2 && presentUsers[0] === currentUser">
        <strong>Aucun adversaire connecté </strong><br />
        <Loader />
        Recherche en cours
      </p>
      <span v-else>Choisis ton adversaire</span>
      <div class="container">

        <!-- columns should be the immediate child of a .row -->
        <div class="row">
          <div class="opponent card" v-for="(user, index) in presentUsers" :key="index">
            <span class="six columns" v-show="user!==currentUser" @click.prevent="pinguser(user,index, currentUser)">{{user}}
              <!-- <button @click.prevent="pinguser(user,index, currentUser)">Ping</button> -->
            </span>
          </div>
        </div>
      </div>

      <!-- MODAL -->
      <!-- <div v-if="displayAskingScreen">
        <span v-if="currentUser===guest">{{host}} Voulez propose une nouvelle Partie!!!Acceptez-vous de le rejoindre?</span>-<button @click.prevent="joinParty()">OUi</button>
      </div> -->
      <ValidateModal
      v-if="displayAskingScreen"
      :host="host"
      @joinParty="joinParty"
      />
      <WaitingModal
      v-if="displayWaitingScreen"
      :guest="guest"
      />
    </div>

  </div>

</template>

<script>
import ValidateModal from '../components/ValidateModal.vue'
import WaitingModal from '../components/WaitingModal.vue'
import Loader from '../components/Loader.vue'
import EinsteinHead from '../components/EinsteinHead.vue'
import io from 'socket.io-client'
export default {
  data: function () {
    return {

      currentUser: '',
      presentUsers: [],
      guest: '',
      displayUserForm: true,
      displayOpponentList: false,
      displayAskingScreen: false,
      displayWaitingScreen: false,
      room: null,
      host: '',
      socket: io('localhost:3000')

    }
  },
  components: {
    ValidateModal,
    Loader,
    EinsteinHead,
    WaitingModal
  },

  methods: {

    pinguser (guest, index, currentUser) {
      console.log(index, 'invité:', guest, 'utilisateur:', currentUser)
      this.socket.emit('invitation', guest, index, currentUser)
    },
    addPseudo () {
      console.log('event ok', this.currentUser)
      this.displayOpponentList = true
      this.displayUserForm = false
      console.log('switch view')

      this.socket.emit('monpseudo', this.currentUser)
    },

    joinParty () {
      this.socket.emit('joinParty', this.room, this.currentUser, this.host)
      console.log('button actif')
    }
  },

  mounted () {
    this.socket.on('askPlay', (index, guest, currentUser) => {
      console.log('link ok')
      if (this.currentUser === guest) {
        console.log('linkedddddddd')
        this.host = currentUser
        this.displayAskingScreen = true
        this.room = index
        this.guest = guest
      }
      if (this.currentUser === currentUser) {
        this.guest = guest
        this.displayWaitingScreen = true
      }
    })

    this.socket.on('listUsers', listUsers => {
      this.presentUsers = listUsers
      console.log('list des users:', this.presentUsers)
    })

    this.socket.on('redirect', (destination) => {
      window.location.href = destination
    })
  }

}
</script>

<style scoped>
@import './../assets/css/requestGame.css';
@import './../assets/css/normalize.css';
@import './../assets/css/skeleton.css';
</style>
