/* ---- FONT ---- */
@import url('https://fonts.googleapis.com/css?family=Meddon&display=swap');
.einstein {
	font-family: 'Meddon', cursive;
}

.bigger {
	font-size: 7.0rem;
}
/* ---- SPACING ---- */
.center {
    text-align: center;
}
.small.space {
    padding-top: 5%;
}
/* ---- VISIBILITY ---- */
[v-cloak] {
    display:none;
}

.hidden {
	visibility: hidden;
}

/* ---- COLOR ---- */
.theme {
	background: linear-gradient(to top,#FFF, #02918D, #07DED7);
	height: 400px;
}
/* ---- LOGO IMG ---- */
#atom {
	height: 100px;
	position: relative;
    top: 40px;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@media (max-width:550px) {
	#atom {
		display: none;
	}
}

.button.cta {
	position: relative;
	padding-left: 60px;
	margin: 50px 0;
}
.button.cta img {
	position: absolute;
	left: 10px;
	bottom: 0px;
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
}
@keyframes spin {
    0% {
        transform:rotate(0deg);
	}
	33% {
		transform:rotate(20deg);
	}
    66% {
        transform:rotate(-20deg);
	}
	100% {
        transform:rotate(0deg);
    }
}
