/* ---------- BASIC POPUP ----------*/
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	width: 30%;
	position: relative;
	border: 2px solid red;
	text-align: center;
}
.popup .content {
	max-height: 30%;
    overflow: auto;
    margin-top:20px;
}
.popup .content button{
	margin: 10px;
}
.popup h2{
	color: #D64A45;
}
/* ---------- MARK ---------- */
.mark{
    position: absolute;
    font-size: 60px;
    transform: translate(-42px, -70px);
    width: 80px;
    border-radius: 50px;
    line-height: 1.3;
    height: 80px;
    background-image: linear-gradient(to bottom right, #D64A45, #E3733D);
    color:white;
}
/* ---------- QUESTION ---------- */
.popup.question {
    border: 2px solid #0679dd;
}
.mark.question {
    background-image: linear-gradient(to bottom right, #0679dd, #07dfd7);
}
/* ---------- NEXT ---------- */
.popup .close {
	transition: all 200ms;
	font-size: 15px;
    font-weight: bold;
    padding: 0 20px;
	text-decoration: none;
	color: #333;
  }
.popup .close:hover {
	color: #06D85F;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
/* ---------- GOOD ---------- */
.mark.good {
    background-image: linear-gradient(to bottom right, #1BA170, #28EDA5);
}
.popup.good {
	border: 2px solid #1BA170;
}
.popup.good h2{
	color: #1BA170;
}
  
@media screen and (max-width: 700px){
.box{
    width: 70%;
}
.popup{
    width: 70%;
}
}
/* ANIMATIONS */