.quizz {
	height: 100vh;
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top,#FFF, #07BEB8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top,#FFF, #07BEB8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	padding: 30px;
}
.nav.arrow {
	text-align: left;
}
.quizz .subject {
	position:absolute;
	right: 20px;
}
.quizzcontent {
	margin: 100px 0;
}
/* ------------------ QUIZZ ANSWER BUTTON ------------------ */
.quizz .answer.list {
	border: 2px solid #d9d9d9;
	margin-bottom: 30px;
}
.quizz input[type="radio"] + div {
	padding: 20px 40px;
}
.quizz input[type="radio"]:checked + div {
	background: #b8edff;
  }
.quizz input {
	display: none!important;
}
.quizz ol {
    list-style-type: none;
	padding: 0;
	background: #f2f2f2;
	margin-block-end: -0.7em;
}
/* ------------------ PAGINATION ------------------ */
.pagination {
	min-height: 50px;
}
/* ------------------ ANSWER MODAL ------------------ */
