.nav.arrow {
    text-align: left;
    padding: 30px;
    position: relative;
}

/* ------------- CTA ------------- */
.container {
    padding: 20px;
}
.step {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 15px;
    vertical-align: middle;
    line-height: 2.5;
}
.columns:first-child .step {
    background-color: #5264AE;
}
.columns .step {
    background-color: #C1292E;
}
.columns:last-child .step {
    background-color: yellow;
}

/* ------------- ADD USER FORM ------------- */
#addUser {
    padding: 20px;
}
form {
    margin-bottom: 0;
}

/* ------------- CHOOSE OPPONNENT LIST ------------- */
#chooseOpponent .six.columns {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.10);
  border: 1px solid #07DED7;
  color: #05ABA5;
    font-weight: 400;
    font-size: 24px;
    border-radius: 4px;
    margin: 10px 5px;
    padding: 10px 0;
    transition: 0.3s ease-in-out;
}
#chooseOpponent .six.columns:hover {
    background: #f2f2f2;
}

@media (max-width: 550px) {
    #chooseOpponent .six.columns {
        margin: 10px 0;
    }
}



/* ------------- VALIDATION MODAL ------------- */





/* form starting stylings ------------------------------- */
.group 			  { 
    position:relative;  
    max-width: 300px;
    margin: 40px auto;
  }
  input 				{
    font-size:24px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none!important;
    border-bottom:1px solid #757575!important;
  }
  input:focus 		{ 
    border: none!important;
    outline:none;
    margin-bottom: 10px; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
